@charset "UTF-8";
.navbar {
  min-height: 40px;
  height: 40px;
  margin-bottom: 0; }

.navbar-brand {
  padding-top: 8px;
  padding-bottom: 5px;
  line-height: 25px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold; }

html, body, .main-content, .app-container {
  height: 100%; }

.app-container {
  height: calc(100% - 40px);
  position: relative; }

.app-column {
  height: 100%;
  position: absolute;
  top: 0;
  overflow: hidden; }

.menus-container {
  width: 20%;
  left: 0;
  background-color: #f2f2f1; }

.questions-container {
  width: 20%;
  left: 20%;
  background-color: #f2f2f1; }

.actions-container {
  width: 60%;
  left: 40%;
  overflow: hidden; }

.initial-container {
  width: 80%;
  left: 20%;
  overflow: hidden; }

.app-row {
  width: 100%;
  overflow: hidden; }

.active-form-area {
  height: 50%; }

.preview-data-area {
  height: 50%; }

.area-container {
  position: relative;
  height: 100%;
  overflow: hidden; }

.area-header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0 20px;
  font-size: 14px;
  line-height: 30px;
  background-color: #004ebc;
  border-bottom: 1px solid #002c5f;
  color: #ffffff;
  z-index: 10; }

.questions-container .area-header {
  background-color: #002c5f; }

#question-properties .area-header {
  background-color: #9060c8; }

#app-preview .area-header {
  background-color: #00799a;
  border-bottom: 1px solid #00799a; }

.preview-data-area .area-header {
  background-color: #00799a; }

.area-content {
  padding: 40px 15px 20px;
  border-right: 1px solid #d9d9d7;
  font-size: 12px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll; }

.area-content-nav {
  padding: 30px 0 20px; }

.helpbubble {
  position: relative;
  padding: 20px 20px 10px;
  box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.45);
  color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-right: 15px;
  margin-top: 15px; }
  .helpbubble:after {
    content: "";
    position: absolute;
    border-style: solid;
    display: block;
    width: 0;
    z-index: 1; }

.helpbubble-no-arrow:after {
  display: none; }

.helpbubble-left:after {
  border-width: 15px 15px 15px 0;
  left: -15px;
  top: 20px; }

.helpbubble-right:after {
  border-width: 15px 0 15px 15px;
  right: -15px;
  top: 20px; }

.helpbubble-top-left:after {
  border-width: 0 15px 15px;
  top: -15px;
  left: 20px; }

.helpbubble-bottom-left:after {
  border-width: 15px 15px 0;
  bottom: -15px;
  left: 20px; }

.helpbubble .close {
  position: absolute;
  right: 8px;
  top: 3px;
  display: block;
  padding: 5px 10px;
  line-height: 20px;
  color: white;
  opacity: 0.5;
  transition: opacity 1s; }
  .helpbubble .close:hover {
    opacity: 1; }

.helpbubble-primary {
  background: #004ebc; }
  .helpbubble-primary.helpbubble-left:after, .helpbubble-primary.helpbubble-right:after {
    border-color: transparent #004ebc; }
  .helpbubble-primary.helpbubble-top-left:after, .helpbubble-primary.helpbubble-bottom-left:after {
    border-color: #004ebc transparent; }

.helpbubble-secondary {
  background: #00bdc5; }
  .helpbubble-secondary.helpbubble-left:after, .helpbubble-secondary.helpbubble-right:after {
    border-color: transparent #00bdc5; }
  .helpbubble-secondary.helpbubble-top-left:after, .helpbubble-secondary.helpbubble-bottom-left:after {
    border-color: #00bdc5 transparent; }

.helpbubble-purple {
  background: #9060c8; }
  .helpbubble-purple.helpbubble-left:after, .helpbubble-purple.helpbubble-right:after {
    border-color: transparent #9060c8; }
  .helpbubble-purple.helpbubble-top-left:after, .helpbubble-purple.helpbubble-bottom-left:after {
    border-color: #9060c8 transparent; }

.appnav-menu {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 12px; }
  .appnav-menu .appnav-menu {
    min-height: 15px; }
  .appnav-menu > li {
    width: 100%; }
    .appnav-menu > li > .appnav-item {
      width: 100%; }

.appnav-menu > li > .appnav-item a {
  float: left;
  box-sizing: border-box;
  line-height: 30px;
  padding-right: 32px;
  color: #181715;
  text-decoration: none !important;
  cursor: pointer; }

.appnav-primary-icon {
  font-size: 1.7rem;
  color: #4e4b45; }

.appnav-menu .appnav-primary-icon {
  top: 6px;
  position: absolute;
  margin-right: 5px; }

.appnav-primary-icon-lg {
  font-size: 2rem; }

.appnav-menu .appnav-primary-icon-lg {
  top: 2px; }

.appnav-menu > li > .appnav-item a.appnav-delete {
  width: 32px;
  transition: all 0.2s;
  position: relative;
  z-index: 20; }
  .appnav-menu > li > .appnav-item a.appnav-delete i {
    display: block;
    text-align: center;
    cursor: pointer;
    width: 32px;
    height: 30px;
    vertical-align: top;
    line-height: 30px;
    transition: margin 0.5s;
    position: relative;
    margin-left: -50px; }
  .appnav-menu > li > .appnav-item a.appnav-delete:hover, .appnav-menu > li > .appnav-item a.appnav-delete:focus {
    color: #e53e30; }

.appnav-menu > li > .appnav-item a.appnav-title {
  width: calc(100% - 32px);
  position: relative; }
  .appnav-menu > li > .appnav-item a.appnav-title > span {
    position: relative;
    line-height: 14px;
    display: inline-block;
    margin-left: 22px;
    padding: 8px 0; }

.appnav-menu > li > .appnav-item a.appnav-title-secondary {
  width: calc(100% - 67px); }

.appnav-menu > li > .appnav-item a.appnav-secondary {
  width: 35px; }
  .appnav-menu > li > .appnav-item a.appnav-secondary > i {
    line-height: 30px; }
  .appnav-menu > li > .appnav-item a.appnav-secondary:hover, .appnav-menu > li > .appnav-item a.appnav-secondary:focus {
    color: #47b700; }
    .appnav-menu > li > .appnav-item a.appnav-secondary:hover.appnav-settings, .appnav-menu > li > .appnav-item a.appnav-secondary:focus.appnav-settings {
      color: #004ebc; }

.appnav-menu > li > .appnav-item a.appnav-add {
  width: 100%;
  padding-left: 32px; }
  .appnav-menu > li > .appnav-item a.appnav-add > .fa {
    transition: all 0.2s;
    margin-right: 8px;
    margin-left: 5px;
    position: relative; }
  .appnav-menu > li > .appnav-item a.appnav-add:hover, .appnav-menu > li > .appnav-item a.appnav-add:focus {
    text-decoration: none; }
    .appnav-menu > li > .appnav-item a.appnav-add:hover > .fa, .appnav-menu > li > .appnav-item a.appnav-add:focus > .fa {
      color: #47b700; }

.appnav-show-on-hover {
  opacity: 0; }

.appnav-menu > li > .appnav-item {
  box-sizing: content-box;
  width: 100%;
  overflow: hidden; }
  .appnav-menu > li > .appnav-item:before, .appnav-menu > li > .appnav-item:after {
    content: " ";
    display: table; }
  .appnav-menu > li > .appnav-item:after {
    clear: both; }
  .appnav-menu > li > .appnav-item:hover, .appnav-menu > li > .appnav-item:focus {
    background-color: rgba(255, 255, 255, 0.6); }
    .appnav-menu > li > .appnav-item:hover a, .appnav-menu > li > .appnav-item:focus a {
      text-decoration: none;
      outline: none; }
      .appnav-menu > li > .appnav-item:hover a.appnav-delete i, .appnav-menu > li > .appnav-item:focus a.appnav-delete i {
        margin-left: 0; }

.appnav-menu-nested > li > .appnav-item > a.appnav-title {
  padding-left: 10px;
  border-left: 1px solid #b5b1aa; }
.appnav-menu-nested > li > .appnav-item > a.appnav-title {
  position: relative; }
  .appnav-menu-nested > li > .appnav-item > a.appnav-title:before {
    font-family: "WorkflowFontRegular";
    content: "";
    position: absolute;
    left: -15px;
    top: -5px;
    font-size: 4.6rem;
    color: #b5b1aa; }
.appnav-menu-nested > li:last-child > .appnav-item > a.appnav-title {
  border: none; }
.appnav-menu-nested > li:last-child > .appnav-item > a.appnav-title:before {
  content: "";
  left: -14px; }
.appnav-menu-nested > .appnav-primary-icon {
  margin-left: 2px; }

.appnav-highlight .appnav-item {
  background-color: #d9d9d7; }

.appnav-section-name {
  background-color: #002c5f;
  color: white;
  padding: 10px 15px;
  margin: 0;
  font-size: 1.2rem;
  text-transform: uppercase; }

.appnav-link-full {
  width: 100%;
  position: relative; }
  .appnav-link-full span {
    display: block;
    line-height: 14px;
    padding: 8px 0;
    margin-left: 22px; }
  .appnav-link-full .appnav-primary-icon {
    margin-top: 2px; }
  .appnav-link-full .appnav-primary-icon-lg {
    margin-top: 4px; }

.appnav-menu .nav-divider {
  margin: 0; }

.appnav-toggle-label {
  background-color: #d9d9d7;
  padding: 5px 15px 0 15px;
  font-weight: 600;
  font-size: 10px; }

.appnav-menu > li > .appnav-item.active {
  background-color: #002c5f; }
  .appnav-menu > li > .appnav-item.active .appnav-title {
    border-color: #ededec; }
  .appnav-menu > li > .appnav-item.active a {
    color: white; }
    .appnav-menu > li > .appnav-item.active a > .appnav-drag-icon:hover {
      color: white;
      cursor: move;
      background-color: #181715; }
    .appnav-menu > li > .appnav-item.active a:before {
      color: #ededec; }
  .appnav-menu > li > .appnav-item.active .appnav-primary-icon {
    color: white; }
  .appnav-menu > li > .appnav-item.active .appnav-delete:hover {
    color: #efcfcb; }
  .appnav-menu > li > .appnav-item.active .appnav-secondary {
    color: #c7e3b8; }
    .appnav-menu > li > .appnav-item.active .appnav-secondary:hover, .appnav-menu > li > .appnav-item.active .appnav-secondary:focus {
      text-shadow: 0 0 10px #000; }
    .appnav-menu > li > .appnav-item.active .appnav-secondary.appnav-settings {
      color: #bcdeff; }
      .appnav-menu > li > .appnav-item.active .appnav-secondary.appnav-settings:hover, .appnav-menu > li > .appnav-item.active .appnav-secondary.appnav-settings:focus {
        color: #56acff;
        text-shadow: 0 0 10px #000; }

.appnav-questions > li > .appnav-item.active {
  background-color: #9060c8; }

.appnav-questions {
  padding: 0; }

.questions-header {
  padding: 5px 20px;
  font-weight: bold; }

.questions-save {
  padding: 5px 20px;
  background-color: #f2f2f1;
  text-align: center;
  border-bottom: 1px solid #d9d9d7; }

.btn {
  text-transform: uppercase;
  font-size: 12px; }

.form-control {
  font-size: 12px; }

.questions-preview {
  padding: 6px 20px;
  background-color: #00799a; }
  .questions-preview .btn {
    outline: none;
    background-color: transparent;
    border: none !important; }

.question-display-text {
  font-size: 14px; }

.preview-form-title {
  font-size: 18px;
  padding-bottom: 10px; }

/*# sourceMappingURL=style.css.map */
