$navbar-height: 40px

$cc-bg:     #f2f2f1
$cc-text:   #181715

$cc-neutral-hi:   #d6d6d4
$cc-neutral-mid:  #685c53
$cc-neutral-low:  #373534

$cc-brand-hi:   #bcdeff
$cc-brand-mid:  #004ebc
$cc-brand-low:  #002c5f

$cc-light-cool-accent-hi:   #ccf3f4
$cc-light-cool-accent-mid:  #00bdc5
$cc-light-cool-accent-low:  #00799a

$cc-dark-warm-accent-hi:  #ffe3c2
$cc-dark-warm-accent-mid: #ff8400
$cc-dark-warm-accent-low: #994f00

$cc-light-warm-accent-hi:   #f8ecbd
$cc-light-warm-accent-mid:  #f9c700
$cc-light-warm-accent-low:  #685300

$cc-att-pos-hi:   #d5eaca
$cc-att-pos-mid:  #47b700
$cc-att-pos-low:  #216f00

$cc-att-neg-hi:   #efcfcb
$cc-att-neg-mid:  #e53e30
$cc-att-neg-low:  #812627

$cc-dark-cool-accent-hi:  #d6c5ea
$cc-dark-cool-accent-mid: #9060c8
$cc-dark-cool-accent-low: #5d3f82

$color-white: #ffffff
$color-border: darken($cc-bg, 10)

$area-header-height: 30px
$helbubble-radius: 10px

$font-size-base: 14px

$z-index-trash: 20

$appnav-width: 100%
$appnav-trash-width: 32px
$appnav-item-height: 30px
$appnav-secondary-width: 35px

.navbar
  min-height: $navbar-height
  height: $navbar-height
  margin-bottom: 0

.navbar-brand
  padding-top: 8px
  padding-bottom: 5px
  line-height: 25px
  font-size: $font-size-base
  text-transform: uppercase
  font-weight: bold

html, body, .main-content, .app-container
  height: 100%

.app-container
  height: calc(100% - #{$navbar-height})
  position: relative

.app-column
  height: 100%
  position: absolute
  top: 0
  overflow: hidden

.menus-container
  width: 20%
  left: 0
  background-color: $cc-bg

.questions-container
  width: 20%
  left: 20%
  background-color: $cc-bg

.actions-container
  width: 60%
  left: 40%
  overflow: hidden

.initial-container
  width: 80%
  left: 20%
  overflow: hidden

.app-row
  width: 100%
  overflow: hidden

.active-form-area
  height: 50%

.preview-data-area
  height: 50%

.area-container
  position: relative
  height: 100%
  overflow: hidden

.area-header
  position: absolute
  width: 100%
  top: 0
  left: 0
  margin: 0
  padding: 0 20px
  font-size: 14px
  line-height: $area-header-height
  background-color: $cc-brand-mid
  border-bottom: 1px solid $cc-brand-low
  color: $color-white
  z-index: 10

.questions-container .area-header
  background-color: $cc-brand-low

#question-properties .area-header
  background-color: $cc-dark-cool-accent-mid

#app-preview .area-header
  background-color: $cc-light-cool-accent-low
  border-bottom: 1px solid $cc-light-cool-accent-low

.preview-data-area .area-header
  background-color: $cc-light-cool-accent-low

.area-content
  padding: $area-header-height+10px 15px 20px
  border-right: 1px solid $color-border
  font-size: 12px
  height: 100%
  overflow-x: hidden
  overflow-y: scroll

.area-content-nav
  padding: $area-header-height 0 20px

.helpbubble 
  position: relative
  padding: 20px 20px 10px
  box-shadow: 2px 3px 15px rgba(0,0,0,.45)
  color: white
  -webkit-border-radius: $helbubble-radius
  -moz-border-radius: $helbubble-radius
  border-radius: $helbubble-radius
  margin-bottom: 20px
  margin-right: 15px
  margin-top: 15px

  &:after
    content: ''
    position: absolute
    border-style: solid
    display: block
    width: 0
    z-index: 1

.helpbubble-no-arrow
  &:after
    display: none

.helpbubble-left:after
  border-width: 15px 15px 15px 0
  left: -15px
  top: 20px

.helpbubble-right:after
  border-width: 15px 0 15px 15px
  right: -15px
  top: 20px

.helpbubble-top-left:after
  border-width: 0 15px 15px
  top: -15px
  left: 20px

.helpbubble-bottom-left:after
  border-width: 15px 15px 0
  bottom: -15px
  left: 20px

.helpbubble .close
  position: absolute
  right: 8px
  top: 3px
  display: block
  padding: 5px 10px
  line-height: 20px
  color: white
  opacity: .5
  transition: opacity 1s
  &:hover
    opacity: 1.0

.helpbubble-primary
  background: $cc-brand-mid
  &.helpbubble-left:after,
  &.helpbubble-right:after
    border-color: transparent $cc-brand-mid
  &.helpbubble-top-left:after,
  &.helpbubble-bottom-left:after
    border-color: $cc-brand-mid transparent

.helpbubble-secondary
  background: $cc-light-cool-accent-mid
  &.helpbubble-left:after,
  &.helpbubble-right:after
    border-color: transparent $cc-light-cool-accent-mid
  &.helpbubble-top-left:after,
  &.helpbubble-bottom-left:after
    border-color: $cc-light-cool-accent-mid transparent

.helpbubble-purple
  background: $cc-dark-cool-accent-mid
  &.helpbubble-left:after,
  &.helpbubble-right:after
    border-color: transparent $cc-dark-cool-accent-mid
  &.helpbubble-top-left:after,
  &.helpbubble-bottom-left:after
    border-color: $cc-dark-cool-accent-mid transparent

.appnav-menu
  width: $appnav-width
  list-style: none
  margin: 0
  padding: 0
  box-sizing: border-box
  font-size: 12px
  .appnav-menu
    min-height: $appnav-item-height/2
  > li
    width: $appnav-width
    > .appnav-item
      width: $appnav-width

.appnav-menu > li > .appnav-item a
  float: left
  box-sizing: border-box
  line-height: $appnav-item-height
  padding-right: $appnav-trash-width
  color: $cc-text
  text-decoration: none !important
  cursor: pointer

.appnav-primary-icon
  font-size: 1.7rem
  color: lighten($cc-text, 20)

.appnav-menu .appnav-primary-icon
  top: 6px
  position: absolute
  margin-right: 5px

.appnav-primary-icon-lg
  font-size: 2rem

.appnav-menu .appnav-primary-icon-lg
  top: 2px

.appnav-menu > li > .appnav-item a.appnav-delete
  width: $appnav-trash-width
  transition: all .2s
  position: relative
  z-index: $z-index-trash
  i
    display: block
    text-align: center
    cursor: pointer
    width: $appnav-trash-width
    height: $appnav-item-height
    vertical-align: top
    line-height: $appnav-item-height
    transition: margin .5s
    position: relative
    margin-left: -50px
  &:hover, &:focus
    color: $cc-att-neg-mid

.appnav-menu > li > .appnav-item a.appnav-title
  width: calc(#{$appnav-width} - #{$appnav-trash-width})
  position: relative
  > span
    position: relative
    line-height: 14px
    display: inline-block
    margin-left: 22px
    padding: 8px 0

.appnav-menu > li > .appnav-item a.appnav-title-secondary
  width: calc(#{$appnav-width} - #{$appnav-trash-width + $appnav-secondary-width})

.appnav-menu > li > .appnav-item a.appnav-secondary
  width: $appnav-secondary-width
  > i
    line-height: $appnav-item-height
  &:hover, &:focus
    color: $cc-att-pos-mid
    &.appnav-settings
      color: $cc-brand-mid

.appnav-menu > li > .appnav-item a.appnav-add
  width: $appnav-width
  padding-left: $appnav-trash-width
  > .fa
    transition: all .2s
    margin-right: 8px
    margin-left: 5px
    position: relative
  &:hover, &:focus
    text-decoration: none
    > .fa
      color: $cc-att-pos-mid

.appnav-show-on-hover
  opacity: 0

.appnav-menu > li > .appnav-item
  box-sizing: content-box
  width: $appnav-width
  overflow: hidden
  &:before,
  &:after
    content: " "
    display: table
  &:after
    clear: both
  &:hover, &:focus
    background-color: rgba(255,255,255,0.6)
    a
      text-decoration: none
      outline: none
      &.appnav-delete
        i
          margin-left: 0

.appnav-menu-nested
  > li > .appnav-item > a.appnav-title
    padding-left: 10px
    border-left: 1px solid lighten($cc-text, 60)
  > li > .appnav-item > a.appnav-title
    position: relative
    &:before
      font-family: "WorkflowFontRegular"
      content: '\f00a'
      position: absolute
      left: -15px
      top: -5px
      font-size: 4.6rem
      color: lighten($cc-text, 60)
  > li:last-child > .appnav-item > a.appnav-title
    border: none
  > li:last-child > .appnav-item > a.appnav-title:before
    content: '\f00b'
    left: -14px
  > .appnav-primary-icon
    margin-left: 2px

.appnav-highlight .appnav-item
  background-color: darken($cc-bg, 10)

.appnav-section-name
  background-color: $cc-brand-low
  color: white
  padding: 10px 15px
  margin: 0
  font-size: 1.2rem
  text-transform: uppercase

.appnav-link-full
  width: 100%
  position: relative
  span
    display: block
    line-height: 14px
    padding: 8px 0
    margin-left: 22px
  .appnav-primary-icon
    margin-top: 2px
  .appnav-primary-icon-lg
    margin-top: 4px

.appnav-menu .nav-divider
  margin: 0

.appnav-toggle-label
  background-color: darken($cc-bg, 10)
  padding: 5px 15px 0 15px
  font-weight: 600
  font-size: 10px

.appnav-menu > li > .appnav-item.active
  background-color: $cc-brand-low
  .appnav-title
    border-color: darken($cc-bg, 2)
  a
    color: white
    > .appnav-drag-icon
      &:hover
        color: white
        cursor: move
        background-color: $cc-text
    &:before
      color: darken($cc-bg, 2)
  .appnav-primary-icon
    color: white
  .appnav-delete:hover
    color: $cc-att-neg-hi
  .appnav-secondary
    color: darken($cc-att-pos-hi, 5)
    &:hover, &:focus
      text-shadow: 0 0 10px #000
    &.appnav-settings
      color: $cc-brand-hi
      &:hover, &:focus
        color: darken($cc-brand-hi, 20)
        text-shadow: 0 0 10px #000

.appnav-questions > li > .appnav-item.active
  background-color: $cc-dark-cool-accent-mid

.appnav-questions > li > .appnav-item a.appnav-title > span
  margin-left: 5px

.appnav-questions
  padding: 0

.questions-header
  padding: 5px 20px
  font-weight: bold

.questions-save
  padding: 5px 20px
  background-color: $cc-bg
  text-align: center
  border-bottom: 1px solid $color-border

.btn
  text-transform: uppercase
  font-size: 12px

.form-control
  font-size: 12px

.questions-preview
  padding: 6px 20px
  background-color: $cc-light-cool-accent-low
  .btn
    outline: none
    background-color: transparent
    border: none !important

.question-display-text
  font-size: 14px

.preview-form-title
  font-size: 18px
  padding-bottom: 10px

.table
  margin-top: 10px
  font-size: 12px
  thead
    background-color: $cc-bg
    th
      line-height: 24px !important
      border-bottom: 1px solid $color-border !important
